body { background: #1F262B; }
#name, #desc, #twttr {
    position: relative;
    float: left;
    clear: both;
    animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
}

#name { top: -15px; }

#desc { position: absolute;}
#desc { top: 40px; }
#desc h2 { font-size: 0.9em; }

#name h2 { font-size: 0.8em; margin: -35px 0 0 0; }
#name h2, #name .meta {
    width: auto;
    width: 100%;
}
#name .meta { font-size: 0.8em;}
#name .meta ul { padding: 15px 0 0 0; }
#name .meta ul small { padding: none; letter-spacing: normal;}
#name .meta li { display:inline; clear:both; float: left; padding: 0 0 5px 0; }
#name #photo-credit { display:none; visibility:hidden; }
#twttr {
    font-size: 0.6em;
	bottom: -55px;
}

