body {
    padding: 1em 0 0 1em;
}
.corner {
    position: relative;
    display: inline;
    float: left;
    font-size: 50%;
    text-shadow: 0px 1px 1px #fff;
    margin: 0 1em 0 0;
    padding: 0;
}
.corner a {
    color: #000;
}
.corner a:hover {
    color: #fff;
    text-shadow: 0px 1px #000;
}
#name {
    margin: 0 5em 0 0;
}
#twttr {
    padding: 0.4em 0 0 0;
}
#desc {
    font-size: 0.4em;
    padding: 0;
    visibility: hidden;
    display: none;
}
