body {
    background: #111;
}
#grey-overlay, #desc, #name .meta {
    display: none;
    visibility: hidden;
}
#name, #desc, #twttr {
    position: relative;
    float: left;
    clear: both;
}
#name h2, #name .meta {
    width: auto;
    width: 100%;
}
#container {
    margin: -30px 0 0 0;
}
#twttr {
    font-size: 1em;
    line-height: 3em;
    margin-top: -40px;
}
